body.light {
    background-color: #f5f5f5;
    color: #000;
}

body.dark {
    background-color: #121212;
    color: #fff;
}

header {
    background-color: #007bff;
    color: white;
}

.theme-buttons a {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 5px;
}

.theme-buttons .btn-light {
    background-color: #007bff;
    color: white;
}

.theme-buttons .btn-dark {
    background-color: #555;
    color: white;
}