{% extends "base.html" %}

{% block title %}Зв’язок{% endblock %}

{% block content %}
<article class="contact-section">
    <header class="contact-header">
        <h1>Як зі мною зв’язатися</h1>
        <p>Нижче ви знайдете мої контактні дані:</p>
    </header>
    <div class="contact-details">
        <div class="contact-item">
            <h3>Електронна пошта</h3>
            <p><a href="mailto:andri.voitkiv.22@pnu.edu.ua">andri.voitkiv.22@pnu.edu.ua</a></p>
        </div>
        <div class="contact-item">
            <h3>Телефон</h3>
            <p><a href="tel:+380667862481">+380 (66) 786 24 81 </a></p>
        </div>
        <div class="contact-item">
            <h3>GitHub</h3>
            <p><a href="https://github.com/Giz3/flask-app-lab" target="_blank"></a>https://github.com/Giz3/flask-app-lab</p>
        </div>
    </div>
</article>
{% endblock %}